@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #8d86c9;
  font-family: "Itim", cursive;
  overflow: hidden;
  scroll-behavior: smooth;
}
